/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 17, 2017, 9:59:53 AM
    Author     : abhishekingle
*/

.s-switch input[type='checkbox']{display:none}

.s-switch {
	width: 62px;
	height: 32px;
	background: #428bca;
	z-index: 0;
	margin: 0;
	padding: 0;
	appearance: none;
	border: none;
	cursor: pointer;
	position: relative;
	border-radius:16px; //IE 11
	-moz-border-radius:16px; //Mozilla
	-webkit-border-radius:16px; //Chrome and Safari
}

.s-switch:before {
	content: ' ';
	background: #428bca !important;
	position: absolute;
	left: 1px;
	top: 1px;
	width: 60px;
	height: 30px;
	background: #FFFFFF;
	z-index: 1;
	border-radius:16px; //IE 11
	-moz-border-radius:16px; //Mozilla
	-webkit-border-radius:16px; //Chrome and Safari
}

.s-switch:after {
	content: ' ';
	height: 29px;
	width: 29px;
	border-radius: 28px;
	z-index: 2;
	background: #FFFFFF;
	position: absolute;
	-webkit-transition-duration: 300ms;
	transition-duration: 300ms;
	top: 1px;
	left: 3px;
	-webkit-box-shadow: 0 2px 5px #999999;
	box-shadow: 0 2px 5px #999999;
}

.s-switch-on, .s-switch-on:before{
	background: #428bca !important;
}
.s-switch-on:after{
	left: 31px !important;
}
.s-switch-readonly, .s-switch-disabled{
	opacity: 0.8;
}